<div class="ui text container">
  <%= render 'newpartynav2' %>
    <div class="ui center aligned vertical segment">
    <h5 class="ui inverted header secondary-font main-menu">New Party - Table <%= @table.table_num %></h5>

    <div class="ui text center aligned container">
      <div class="ui inverted center form">
        <%= form_for @party do |f| %> 
          <div class="field">
            <%= f.label 'Number of Guests' %>
            <%= f.number_field(:size, min: 1, max: @table.num_seats, required: true) %>
          </div>
        
          <div class="field">
            <%= f.hidden_field(:table_id, value: @table.id) %>
          </div>
            <p></p>
          <%= f.submit 'ADD PARTY', :class => 'ui inverted oswald button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
