<!-- INDIVIDUAL PARTY SHOW PAGE -->

<div class="ui text container">
  <%= render 'navigation' %>
  <div class="ui center aligned vertical segment">

  <h5 class="ui inverted header secondary-font main-menu">Party of <%= @party.size %></h5>

  <div class="ui text container thinner">
      <div class="ui secondary fluid two item menu">
        <!-- View Receipt -->
        <a class="white item modal-trigger">
          <i class="payment icon"></i>Checkout Party
        </a>
        <!-- NEXT GUEST -->
        <a class="white item">
         <i class="inverted arrow circle right icon"></i>View Orders Status
        </a>
      </div>
    </div>



  <div class="ui centered grid">
    <div class="ui vertical segment"></div>
      <% @party.customers.each do |customer| %> 
        <%= link_to(new_customer_order_path(customer.id), class: 'ui center aligned huge icon header') do %>
          <i class="circular inverted orange user icon"></i>
          <div class="ui tiny inverted white sub header">Guest <%= customer.customer_num %> 
            <div class="small ui label"><%= customer.orders.size %></div>
          </div>
        <% end %>
      <% end %>
    </div>

</div>
<!-- Receipt Modal -->
<div class='modal'>
  <div class='modal-body'>
    <div class='modal-content'>
      <%= render 'partyreceipt' %>
    </div>
  </div>
</div>

</div>




