<!-- PARTY SHOW PAGE -->
<!-- As a user, I want to be able to: -->
<!-- (1) VIEW the details of a single UNPAID party -->
<!-- (2) VIEW all the comprising guests of that party -->
<!-- (3) SELECT a guest to subsequently create a order -->
<!-- (3) CHECKOUT the party (mark the party as PAID) -->
<div class="ui text container">
  <%= render 'navigation' %>
  <div class="ui center aligned vertical segment">

  <h5 class="ui inverted header main-menu">Party of <%= @party.size %></h5>


  <div class="ui centered grid">
    <div class="ui vertical segment"></div>
      <% @party.customers.each do |customer| %> 
        <%= link_to(customer_path(customer.id), class: 'ui center aligned huge icon header') do %>
          <i class="circular inverted orange user icon"></i>
          <div class="ui tiny inverted white sub header">Guest <%= customer.customer_num %> 
            <div class="small ui label"><%= customer.orders.size %></div>
          </div>
        <% end %>
      <% end %>
    </div>

<div class="ui hidden divider"></div>
<button class="ui secondary button view-receipt">
  View Receipt
</button>

</div>
  
<div class="receipt-modal">
  <%= render 'partyreceipt' %>
</div>





