<h1>New Table Form</h1>

  <!-- HOME BUTTON here for now.... -->
  <a href="/users/landing" class="ui yellow right labeled icon button">
    <i class="home icon"></i>Home </a>
  <div class="ui hidden divider"></div>
  <!-- HOME BUTTON END -->



    <div class="ui text container">
      <div class="ui form">
        <%= form_for @table  do |f| %>
          <div class="two centered fields">    
            <div class="field">
              <%= f.label :table_num %>
              <%= f.number_field :table_num, required: true %>
            </div>
            <div class="field">
              <%= f.label :num_seats, "No. of Seats" %>
              <%= f.number_field :num_seats, required: true %>
            </div>
          </div>
          <p></p>
          <%= f.submit 'Create Table', :class => 'ui big teal button' %>
        <% end %>
      </div>
    </div>
  

  