<div class="ui center aligned vertical segment">
    <h1>View All Tables</h1>
    <p>Select an available table to assign a new party </p>
    <a href="/users/landing" class="ui yellow right labeled icon button">
      <i class="home icon"></i>
      Home
    </a>
    <div class="ui hidden divider"></div>
    <div class="ui centered grid">
      <% @tables.each do |table| %>
        <% if table.is_available == 1 %>
          <%= link_to(new_table_party_path(table.id), class: 'selectable-table') do %>
            <div class="ui circular segment">
              <h3 class="ui header">Table <%= table.table_num %>
                <div class="sub header">Seats: <%= table.num_seats %></div>
              </h3>
              <div class="ui bottom attached teal label">Free</div>
            </div>
          <% end %>
        <% else %>
          <%= link_to('', class: 'unselectable-table') do %>
            <div class="ui circular segment">
              <h3 class="ui header">Table <%= table.table_num %>
                <div class="sub header">Seats: <%= table.num_seats %></div>
              </h3>
              <div class="ui bottom attached label">Unavailable</div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>




