<div class="page-wrapper">
  <!-- LOGIN TEXT -->
  <div class="welcome">log.in</div>

  <!-- LOGIN BOX CONTAINER -->
  <div class="ui text container" id="login-box">
    <div class="ui two column middle aligned very relaxed stackable grid">
      <div class="column">
          
        <!-- LOGIN FORM BEGIN -->
        <div class="ui inverted form">
          <%= form_tag '/sessions', method: :post do %>
              
            <!-- USERNAME FIELD -->
            <div class="field">
              <%= label_tag :username %>
              <div class="ui left icon input">
                <i class="user inverted icon"></i>
                  <%= text_field_tag :username, nil, class: 'inverted' %>
              </div>
            </div>

            <!-- PASSWORD FIELD -->
            <div class="field">
              <%= label_tag :password %>
              <div class="ui left icon input">
                <i class="lock inverted icon"></i>
                <%= password_field_tag :password, nil, class: 'inverted' %>
              </div>
            </div>

            <!-- SUBMIT BUTTON -->
            
            <%= submit_tag "Log In", class: 'ui inverted submit button' %>
          <% end %>
        </div> <!-- LOGIN FORM END -->
      </div>
        
      <!-- VERTICAL DIVIDER -->
      <div class="ui inverted vertical divider"> OR </div>

      <!-- SIGN UP BUTTON CONTAINER -->
      <div class="center aligned column">
        <h2 class="ui inverted header">New around here?</h2>
  
        <!-- SIGN UP BUTTON -->
        <%= link_to(new_user_path, class: 'ui huge orange right labeled icon button') do %>
          Sign Up
          <i class="add user inverted icon"></i>
        <% end %>  
      </div> <!-- SIGN UP CONTAINER END -->
    </div>
  </div> <!-- LOG BOX CONTAINER END -->
</div>

