  <div class="page-wrapper">
    <div class="welcome">sign.up</div>
    <div class="ui text container" id="login-box">
      <div class="ui inverted form">
        <%= form_for @user  do |f| %>
          <div class="two fields">    
            <div class="field">
              <%= f.label :name %>
              <%= f.text_field :name, required: true %>
            </div>
            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email, required: true %>
            </div>
          </div>
          <div class="three fields"> 
            <div class="field">
              <%= f.label :username %>
              <div class="ui left icon input">
                <%= f.text_field :username, required: true %>
                <i class="inverted user icon"></i>
              </div>
            </div>
            <div class="field">
              <%= f.label :password %>
              <div class="ui left icon input">
                <%= f.password_field :password, required: true %>
                <i class="inverted lock icon"></i>
              </div>
            </div>
            <div class="field">
              <%= f.label "Confirm password" %>
              <div class="ui left icon input">
                <%= f.password_field :password_confirmation, required: true %>
                <i class="inverted lock icon"></i>
              </div>
            </div>
          </div>
          <div class="ui center aligned container">
            <%= f.submit :class => 'ui big primary button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
