<div class="ui text container">
<div class="ui form selection">
<i class='close-modal big red remove circle icon'></i>
  <div class="ui padded segment">
    <div class="ui header item-header"></div>
      <%= form_for @new_order , url: customer_orders_path(@customer.id) do |f| %>   
        <div class="no-display field">
          <%= f.label 'Menu Item' %>
          <%= f.collection_select(:item_id, @items, :id, :description, required: true) %>
        </div> 
        <div class="field">
          <%= f.hidden_field(:customer_id, value: @customer.id) %>
        </div>
        <div class="field">
          <%= f.label :comments, 'Special Requests?' %>
          <%= f.text_field :comments %>
        </div>
       
          <%= f.submit 'Add To Order', :class => 'ui button' %>
      <% end %>
  </div>
</div>
</div>