<h3>Drinks</h3>
<div class="ui text container">
  <div class="ui two column centered grid">
    <% @drinks.each do |drink| %>
      <div class="row user-selection">
        <div class="twelve wide mobile five wide tablet five wide computer column select-text">
          <%= drink.description %>
        </div>
        <div class="four wide mobile two wide tablet two wide computer column">
          $ <%= drink.price %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3>Appetizers</h3>
<div class="ui text container">
  <div class="ui two column centered grid">
    <% @appetizers.each do |appetizer| %>
      <div class="row user-selection">
        <div class="twelve wide mobile five wide tablet five wide computer column select-text">
          <%= appetizer.description %>
        </div>
        <div class="four wide mobile two wide tablet two wide computer column">
          $ <%= appetizer.price %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h3>Entrees</h3>
<div class="ui text container">
  <div class="ui two column centered grid">
    <% @entrees.each do |entree| %>
      <div class="row user-selection">
        <div class="twelve wide mobile five wide tablet five wide computer column select-text">
          <%= entree.description %>
        </div>
        <div class="four wide mobile two wide tablet two wide computer column">
          $ <%= entree.price %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h3>Sides</h3>
<div class="ui text container">
  <div class="ui two column centered grid">
    <% @sides.each do |side| %>
      <div class="row user-selection">
        <div class="twelve wide mobile five wide tablet five wide computer column select-text">
          <%= side.description %>
        </div>
        <div class="four wide mobile two wide tablet two wide computer column">
          $ <%= side.price %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3>Desserts</h3>
<div class="ui text container">
  <div class="ui two column centered grid">
    <% @desserts.each do |dessert| %>
      <div class="row user-selection">
        <div class="twelve wide mobile five wide tablet five wide computer column select-text">
          <%= dessert.description %>
        </div>
        <div class="four wide mobile two wide tablet two wide computer column">
          $ <%= dessert.price %>
        </div>
      </div>
    <% end %>
  </div>
</div>

