<h3 class="ui orange horizontal divider header">Drinks</h3>
<div class="ui thinner text container">
  <div class="ui two column centered grid">
    <% @drinks.each do |drink| %>
      <div class="row modal-trigger ui inverted large basic button">
        <div class="twelve wide column select-text">
          <%= drink.description %>
        </div>
        <div class="four wide center aligned column">
          <%= number_to_currency(drink.price) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3 class="ui orange horizontal divider header">Appetizers</h3>
<div class="ui thinner text container">
  <div class="ui two column centered grid">
    <% @appetizers.each do |appetizer| %>
      <div class="row modal-trigger ui inverted large basic button">
        <div class="twelve wide column select-text">
          <%= appetizer.description %>
        </div>
        <div class="four wide center aligned column">
          <%= number_to_currency(appetizer.price) %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h3 class="ui orange horizontal divider header">Entrees</h3>
<div class="ui thinner text container">
  <div class="ui two column centered grid">
    <% @entrees.each do |entree| %>
      <div class="row modal-trigger ui inverted large basic button">
        <div class="twelve wide column select-text">
          <%= entree.description %>
        </div>
        <div class="four wide center aligned column">
          <%= number_to_currency(entree.price) %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h3 class="ui orange horizontal divider header">Sides</h3>
<div class="ui thinner text container">
  <div class="ui two column centered grid">
    <% @sides.each do |side| %>
      <div class="row modal-trigger ui inverted large basic button">
        <div class="twelve wide column select-text">
          <%= side.description %>
        </div>
        <div class="four wide center aligned column">
          <%= number_to_currency(side.price) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3 class="ui orange horizontal divider header">Desserts</h3>
<div class="ui thinner text container">
  <div class="ui two column centered grid">
    <% @desserts.each do |dessert| %>
      <div class="row modal-trigger ui inverted large basic button">
        <div class="twelve wide column select-text">
          <%= dessert.description %>
        </div>
        <div class="four wide center aligned column">
          <%= number_to_currency(dessert.price) %>
        </div>
      </div>
    <% end %>
  </div>
</div>