<!-- CUSTOMER SHOW PAGE -->
<!-- As a user, I want to be able to: -->
<!-- (1) VIEW the menu selection of a given CUSTOMER -->
<div class="ui text container">
<%= render 'navigation' %> 

  <div class="ui center aligned vertical segment">

  <h5 class="ui inverted header main-menu">Guest <%= @customer.customer_num %> Order</h5>

  <!-- CART BUTTON -->
  <div class="ui secondary menu">
    <%= link_to(customer_orders_path(@customer.id), class: 'ui item') do %>
      <i class="icon cart"></i> Order
      <div class="ui orange label"><%= @order_size %></div>
    <% end %>
  </div>
  
  

  <%= render 'menu' %> 
</div>
</div>


<!-- MODAL -->

<div class='modal'>
  <div class='modal-body'>
    <div class='modal-content'>
      <%= render 'additem_form' %>
    </div>
  </div>
</div>


  
