<!-- CUSTOMER SHOW PAGE -->
<!-- As a user, I want to be able to: -->
<!-- (1) VIEW the menu selection of a given CUSTOMER -->


<div class="ui center aligned vertical segment">

<h1>Table <%= @customer.party.table.table_num %> > Party of <%= @customer.party.size %> > Customer <%= @customer.customer_num %> > Order</h1>


<!-- HOME BUTTON here for now.... -->
<a href="/users/landing" class="ui yellow right labeled icon button">
  <i class="home icon"></i>Home </a>
<div class="ui hidden divider"></div>
<!-- HOME BUTTON END -->

  <%= render 'menu' %> 

</div>


<!-- MODAL -->

<div class="ui small modal">
  <i class="close icon"></i>
  <div class="header"></div>
  <div class="ui hidden divider"></div>
  <div class="ui form selection">
    <%= form_for @new_order , url: customer_orders_path(@customer.id) do |f| %>   
        <div class="hidden field">
          <%= f.label 'Menu Item' %>
          <%= f.collection_select(:item_id, @items, :id, :description, required: true) %>
        </div> 
        <div class="field">
          <%= f.hidden_field(:customer_id, value: @customer.id) %>
        </div>
        <div class="field">
            <%= f.label :comments, 'Special Requests?' %>
            <%= f.text_field :comments %>
        </div>
        

    <div class="actions">
      <%= f.submit 'Add To Order', :class => 'ui big teal button' %>
    </div>
  <% end %>
  </div>
</div>